/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Source+Code+Pro&family=Ysabeau+SC:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace; /* Body font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
